
    <div class="filter">
        <input 
        type="text" 
        placeholder="Filter todo by title..."
        [(ngModel)]="searchString">
    </div>
    <ul *ngIf="todoService.todo.length; else noTodo">
        <li *ngFor="let el of todoService.todo | todoFilter: searchString;">
            <span [class.done]="el.complited">
                <input type="checkbox" [checked]="el.complited" (change)="onChange(el.id)">
                {{el.title}} 
            </span>
            <small>{{el.date | date:"EEEEEE dd LLL"}}</small>
            <button class="rm" (click)="removeTodo(el.id)">&times;</button>
        </li>
    </ul>
    <ng-template #noTodo>
        <p>No todo now</p>
    </ng-template>